.navbar {
    background-color: var(--thistle);
    color: var(--magnolia);
    height: 75px;
    top: 0;
    z-index: 50;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .navbar__links {
    list-style-type: none;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo-container {
    margin-right: auto;
}

  
  .navbar__links li a {
    color: var(--magnolia);
    text-decoration: none;
  }
  
  .username-display {
    color: black;
  }