.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    background-color: white;
    max-height: 885px;
    overflow: hidden;
  }
  
  .product-tile {
    position: relative;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 2rem;
    margin-bottom: 4rem;
  }
  
  .product-image {
    width: 160px;
    height: 160px;
    padding: 75px;
    border: 0.5px solid rgba(0, 0, 0, 0.068);
    
  }
  
  .product-info {
    margin-top: 10px;
    color: black;
    
  }

  .product-info h3 {
    font-size: 14px;
  }

  .product-info h4 {
    font-size: 10px;
    color: gray;
  }
  
  .product-actions {
    display: none;
    position: absolute;
    top: 0;  /* Align to the top */
    right: 0;  /* Align to the right */
    flex-direction: column;  /* Stack vertically */
    z-index: 1;  /* Make sure buttons appear above the image */
    margin: auto;
}

.product-tile:hover .product-actions {
    display: flex;  /* Show actions on hover */
}

.add-button, .details-button {
    width: 40px;  /* Set width */
    height: 40px;  /* Set height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    background-color: red;
    color: white;
    margin-bottom: 5px;
}

.details-button {
    background-color: white;
    color: black;
    margin-top: 0;
    box-shadow: 5px;
}

  
  
  
  