.cart-icon {
    position: relative;
    font-size: 24px;
  }
  
  .cart-count {
    position: absolute;
    
    right: -10px;
    background: var(--rose-quartz);
    color: black;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
  }

  button {
    font-size: 24px;
  }
  