#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --battleship-gray: #8F9491;
  --rose-quartz: #BCA3AC;
  --thistle: #E5CEDC;
  --magnolia: #F3EAF4;
  --lavender-blush: #EADDE1;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--magnolia);
}

header {
  background-color: var(--battleship-gray);
  color: white;
  text-align: center;
  padding: 1rem;
}

.container {
  padding: 1rem;
}

.navbar {
  background-color: var(--battleship-gray);
  color: var(--magnolia);
  padding: 1rem;
}

.navbar__logo {
  font-size: 1.5rem;
}

.navbar__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.navbar__links li a {
  color: var(--magnolia);
  text-decoration: none;
}

.navbar__links li a:hover {
  color: var(--rose-quartz);
}