#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

:root {
  --battleship-gray: #8F9491;
  --rose-quartz: #BCA3AC;
  --thistle: #E5CEDC;
  --magnolia: #F3EAF4;
  --lavender-blush: #EADDE1;
}

body {
  background-color: white;
}

