#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --battleship-gray: #8F9491;
  --rose-quartz: #BCA3AC;
  --thistle: #E5CEDC;
  --magnolia: #F3EAF4;
  --lavender-blush: #EADDE1;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--magnolia);
}

header {
  background-color: var(--battleship-gray);
  color: white;
  text-align: center;
  padding: 1rem;
}

.container {
  padding: 1rem;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid var(--thistle);
  padding: 1rem;
  background-color: var(--lavender-blush);
}

.product-item img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.product-item button {
  background-color: var(--rose-quartz);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.product-item button:hover {
  background-color: var(--battleship-gray);
}